.imageOfDog{
    height: 200px;
    width: 100%;
}
  
.element{
    list-style-type: none;
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

.btn-set{
    display: block;
    margin:20px auto;
}
.btn-set:focus{
    outline: none;
}
#dropdown{
    display: block;
    margin:0 auto;
}
  
